version: "3.8"

services:
    backend:
        build:
            context: ./backend
            dockerfile: Dockerfile.dev
        ports:
            - "${PORT}:${PORT}"
        environment:
            - PORT=${PORT}
            - POKEAPI_BASE_URL=${POKEAPI_BASE_URL}
            - API_KEY=${API_KEY}
        env_file:
            - .env
        restart: unless-stopped
        command: npm run dev
        container_name: node-backend-dev
        networks:
            - app-network
        volumes:
            - ./backend:/app
            - /app/node_modules
    frontend:
        build:
            context: ./frontend
            dockerfile: Dockerfile.dev
        ports:
            - "8080:8080"
        environment:
            - VITE_APP_BACKEND_URL=${VITE_APP_BACKEND_URL}
            - VITE_API_KEY=${API_KEY}
        env_file:
            - .env
        depends_on:
            - backend
        restart: unless-stopped
        command: npm run dev
        container_name: vue-frontend-dev
        networks:
            - app-network
        volumes:
            - ./frontend:/app
            - /app/node_modules

networks:
    app-network:
        driver: bridge
